.env
*.nogit*
.bash_history
*.crt
.tanzu
.local
.azure
.vmware-cna-saas

.kube-tkg
.kube/*
!.kube/.gitkeep
.ssh/*
!.ssh/.gitkeep
binaries/*
!binaries/.gitkeep
!binaries/generate_workload_cluster_config.sh
!binaries/tkginstall.sh
!binaries/tkgworkloadwizard.sh
!binaries/attach_to_tmc.sh
!binaries/init.sh
workload-clusters/*
!workload-clusters/.gitkeep
