.env
*.nogit*
.bash_history
*.crt
*.key
.tanzu
*.log
.local
.azure
.vmware-cna-saas
*.tanzu
.docker

.config
.cache

.kube-tkg
.kube/*
!.kube/.gitkeep
.ssh/*
!.ssh/.gitkeep
!.ssh/sshuttleconfig
binaries/*
!binaries/.gitkeep
!binaries/dns
!binaries/generate_workload_cluster_config.sh
!binaries/tkginstall.sh
!binaries/tkgworkloadwizard.sh
!binaries/adjustdns.sh
!binaries/attach_to_tmc.sh
!binaries/init.sh
!binaries/Dockerfile
!binaries/.dockerignore
!binaries/bastionhostinit.sh
!binaries/bastionhostrun.sh
!binaries/bastionhostsetup.sh
workload-clusters/*
!workload-clusters/.gitkeep
